# Data Science Tools and Ecosystems

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. SQL

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. matplotlib
3. scikit-learn
4. numpy
5. seaborn
6. Apache Spark

|Data Science Tools|
|----|
|Jupyter Lab|
|Spyder|
|R Studio|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#  This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes /60
hours

3.3333333333333335

**Objectives:**
+ List popular languages for Data Science
+ List Some data science tools
+ List some data science libraries
+ Perform basic arithmetic with python
+ Use python variables to perform arithmetic
+ Use markdown to format explanatory text in the notebook

## Author
Nikolas Polzin